@media screen and (max-width: 490px) {
  .navbar {
    left: 0;
    width: 100%;
  }
  header {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .header-content {
    width: 100%;
  }
  .header-content .heading {
    font-size: 9vw;
  }
  .header-content .secondary-heading {
    font-size: 1.1rem;
    letter-spacing: 2px;
  }
  .header-content .description {
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 25px;
  }
  .header-content .btn {
    width: 90%;
    font-size: 0.9rem;
  }
  .about-container.flex {
    flex-direction: column-reverse;
  }
  .about-container .secondary-heading {
    font-size: 0.92rem;
  }
  .about-container .heading {
    font-size: 2.5rem;
  }
  .about-container .description {
    font-size: 1rem;
    text-align: left;
  }
  .about-content .btn {
    width: 80%;
    font-size: 1rem;
    margin: 50px auto;
  }
  .about-img .image-box {
    height: 87vw;
    width: 73vw;
  }
  .about-img .image-box:before {
    height: 89vw;
    top: -1vw;
    left: -1vw;
    width: 75vw;
  }
  .about-img img {
    top: 5vw;
    left: 5vw;
    height: 77vw;
    width: 75vw;
  }
  .s-item-container {
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
    align-items: flex-end;
  }
  .s-item-container.s-right {
    flex-direction: column-reverse;
  }
  .s-img {
    width: 35vw;
    height: 35vw;
    margin-bottom: -100px;
    margin-right: 20px;
  }
  .s-details {
    width: 100%;
    height: auto;
  }
  .s-heading {
    width: 50%;
    font-size: 7vw;
    margin-left: -10px;
  }
  .s-left .s-details {
    margin-left: 0;
    text-align: left;
  }
  .s-right .s-details {
    margin-right: 0;
    text-align: left;
  }
  .s-left .s-desc {
    padding: 0;
  }
  .s-right .s-desc {
    padding: 0;
  }
  .portfolio {
    flex-direction: column;
    max-width: 80vw;
    margin: 50px auto;
    gap: 50px;
  }
  .pv1 {
    flex-basis: 100%;
    width: 100%;
  }
  .pv-details {
    padding: 0 20px;
  }
  .pv-image {
    max-height: 47vw;
  }
  .pv-overlay {
    max-height: 47.5vw;
  }
  .pv-title {
    font-size: 0.8rem;
  }
  .pv-text {
    font-size: 0.6rem;
  }
  .btn-container .btn {
    width: 100%;
  }
  
.cta-box-bg{
   padding:30px 15px;
  }
  .cta-box-heading{
    margin-bottom: -30px;
    font-size: 25px;
  }
}
