@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
}
.mynav {
  width: 100%;
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.278);
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-container img {
  flex-basis: 10%;
  padding: 20px;
  width: 30px;
}
.navbar-container .logo {
  width: 250px;
}
.navbar {
  flex-basis: 80%;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 2.8rem;
  width: 100%;
}
.nav-list li {
  list-style: none;
}
.nav-link {
  font-family: "League Spartan", sans-serif;
  color: #efefef;
  text-decoration: none;
  padding: 10px;
  font-size: 21px;
  transition: 0.5s all ease;
  display: inline-block;
  text-transform: capitalize;
}
.nav-link:hover,
.nav-link:active {
  color: #e90c3f;
}
.mobile-nav-icon {
  display: none;
}
header {
  background: url("../image/bg-header2.jpeg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.header-content {
  padding: 18% 0;
  width: 80%;
  text-align: center;
  margin: auto;
}
.header-content .btn {
  color: #e90c3f;
  border-color: #e90c3f;
}
.header-content .btn:hover {
  color: #000;
}
.header-content .heading{
  text-transform: uppercase;
  font-size: 55px;
  letter-spacing:1px;
  backdrop-filter: blur(3px);
  
}
.header-content .heading i{
  color: #e90c3f;
  font-weight: 700;
}
.header-content .description, .header-content .secondary-heading{
  backdrop-filter: blur(3px);
}
.about {
  padding: 200px 0 0;
}
.about .secondary-heading,
.about .heading {
  text-align: left;
}
.about-img .image-box {
  width: 79%;
  background-color: #1a1a1a;
  height: 493px;
}
.about-img {
  position: relative;
}
.about-img .image-box:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: linear-gradient(
    120deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  background-size: 300% 300%;
  width: 80%;
  animation: animatedgradient 3s ease alternate infinite;
  height: 499px;
  top: -3px;
  left: -3px;
}
@keyframes animatedgradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.about-img img {
  position: absolute;
  backdrop-filter: blur(10px);
  filter: grayscale(100%);
  width: 80%;
}
.about-img img:hover {
  filter: grayscale(0%);
}
.about-img img {
  top: 25px;
  left: 25px;
  height: 445px;
  object-fit: cover;
  object-position: top;
}
.about-content {
  position: relative;
}
.service {
  margin: 100px 0 0;
  padding: 100px 0 0;
}
.service-list-container {
  margin: 100px 0;
}
.service .heading {
  margin-bottom: 70px;
}
.s-item-container {
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.s-img {
  background: linear-gradient(
    60deg,
    rgba(190, 190, 190, 0.195),
    rgba(255, 255, 255, 0.107)
  );
  padding: 20px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: inset 1px 1px 8px rgba(255, 255, 255, 0.737),
    inset -1px -1px 8px #000;
  width: 200px;
  height: 200px;
  z-index: 4;
  transition: 0.2s all ease;
}
.s-item-container:hover .s-img {
  transform: translateY(-10px);
}
.s-img img {
  width: 100%;
  transition: 0.2s all ease;
}
.s-item-container:hover img {
  transform: translateY(10px);
}
.s-details {
  width: 80%;
  height: 350px;
  color: #fff;
}
.s-left .s-details {
  padding: 30px 30px 20px;
  border-radius: 10px;
  margin-left: -50px;
}
.s-right .s-details {
  border-radius: 10px;
  padding: 30px 30px 20px;
  margin-right: -50px;
  text-align: right;
  box-shadow: inset 2px 2px 8px #000, inset -2px -2px 8px #fff;
}
.coding .s-details {
  background: linear-gradient(to left top, #485563, #29323c);
  box-shadow: inset -2px -2px 8px #fff, inset 2px 2px 8px #000;
}
.wordpress .s-details {
  background: linear-gradient(to right top, #485563, #29323c);
  box-shadow: inset 2px -2px 8px #fff, inset -2px 2px 8px #000;
}
.figma .s-details {
  background: linear-gradient(to left bottom, #485563, #29323c);
  box-shadow: inset -2px 2px 8px #fff, inset 2px -2px 8px #000;
}
.design .s-details {
  background: linear-gradient(to right bottom, #485563, #29323c);
  box-shadow: inset 2px 2px 8px #fff, inset -2px -2px 8px #000;
}
.s-heading {
  font-size: 1.8rem;
  margin: 0;
}
.s-desc {
  line-height: 25px;
  color: #eaeaea;
  letter-spacing: 3px;
  margin: 15px 0 25px;
}
.s-left .s-desc {
  padding: 0 0 0 35px;
}
.s-right .s-desc {
  padding: 0 35px 0 0;
}
.service-btn,
.portfolio-btn {
  display: flex;
  justify-content: center;
}
.portfolio-bg {
  margin: 100px 0 0;
  background: url(image/portfolio-bg.png) center center no-repeat;
  background-size: cover;
  width: 100%;
}
.portfolio-bg-overlay {
  padding: 100px 0 0;
  background: linear-gradient(
    177.61deg,
    #000 4.27%,
    rgba(0, 0, 0, 0.394554) 27.32%,
    rgba(0, 0, 0, 0) 50.38%,
    rgba(0, 0, 0, 0.537393) 73.44%,
    #000 96.5%
  );
  width: 100%;
}
.portfolio-container {
  margin: 150px 0;
}
.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0 0;
}
.pv1 {
  flex-basis: 48%;
  position: relative;
  z-index: 1;
  height: 329px;
  border: 2px solid #fff;
}
.pv-image {
  background-color: #fff;
  width: 100%;
  height: 325px;
}
.pv-overlay {
  position: absolute;
  z-index: 2;
  bottom: 0;
  box-shadow: inset 0 0 0px 0px #000;
  left: 0;
  width: 100%;
  height: 325px;
  transition: all 0.2s ease;
  backdrop-filter: blur(0px);
}
.pv1:hover .pv-overlay {
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 200px 100px rgba(0, 0, 0, 0.725);
}
.pv-details {
  z-index: 3;
  position: absolute;
  text-align: center;
  top: 70%;
  color: #fff;
  opacity: 0;
  transition: all 0.2s ease;
  padding: 0 50px;
  visibility: hidden;
  left: 0;
}
.pv-title {
  color: #e90c3f;
  margin-bottom: 10px;
}
.pv1:hover .pv-details {
  top: 35%;
  opacity: 1;
  visibility: visible;
}
.skill {
  margin: 100px 0 0;
  padding: 100px 0 0;
}
.skill .secondary-heading,
.skill .heading {
  text-align: center;
  margin: 20px;
}
.skill-list {
  max-width: 1180px;
  margin: 70px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 2rem 1.4rem;
}
.skill-container {
  padding: 30px 0;
  gap: 10px;
  border-radius: 2px;
  display: flex;
  background: linear-gradient(
    60deg,
    rgba(190, 190, 190, 0.195),
    rgba(255, 255, 255, 0.107)
  );
  backdrop-filter: blur(5px);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease;
}
.skill-container:hover {
  box-shadow: inset 0.51px 0.51px 8px rgba(255, 255, 255, 0.737),
    inset -0.51px -0.51px 8px #000;
  transform: scale(1.2);
}
.skill-img {
  width: 50%;
  height: 70px;
  object-fit: contain;
}
.skill-name {
  color: #fff;
}
.contact {
  margin: 100px 0;
  padding: 100px 0 0;
}
.contact-img img {
  width: 100%;
}
.contact-img {
  flex-basis: 50%;
}
.contact-form {
  flex-basis: 50%;
}
input:focus ~ .contact-label,
textarea:focus ~ .contact-label,
input:valid ~ .contact-label,
textarea:valid ~ .contact-label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}
.styled-input {
  float: left;
  margin: 0.7rem 0;
  position: relative;
  border-radius: 4px;
}
.styled-input .contact-label {
  color: #999;
  padding: 0.61rem 30px 1rem;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}
.styled-input.wide {
  width: 100%;
  max-width: 100%;
}
input,
textarea {
  padding: 20px 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: #fff;
  border-radius: 4px;
}
input:focus,
textarea:focus {
  outline: 0;
}
input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}
textarea {
  width: 100%;
  min-height: 12em;
}
.input-container {
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  margin: 20px auto 25px auto;
}
.submit-btn {
  margin: 40px 5px;
  text-align: center;
}
.footer {
  margin: 10px 0 0;
  padding: 20px 0;
  z-index: 1;
  width: 100%;
  color: #ffffff;
  background: #000000;
  backdrop-filter: blur(10px);
  font-family: "League Spartan", sans-serif;
}
.content {
  display: flex;
  align-items: center;
}
.content > img {
  width: 40%;
  margin-top: -5px;
}
.social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.social-links a {
  flex-basis: 10%;
}
.social-links img {
  width: 50%;
  transition: 0.5s all ease;
}
.social-links img:hover {
  box-shadow: 0 0 10px #000;
}
