.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: auto;
}
.flex {
  display: flex;
  flex-direction: row;
}
.flex-basis {
  flex-basis: 50%;
}
.secondary-heading {
  letter-spacing: 5px;
  color: #e90c3f;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif, "arial";
  text-align: center;
}
.heading {
  background: 0 0;
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 4.5em;
  margin: 15px 0 10px;
  text-align: center;
  color: #fff;
}
.description {
  font-family: "Titillium Web";
  font-style: normal;
  margin-left: 5px;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 36px;
  letter-spacing: 0.175em;
  color: #fdfdfd;
}

.cta-container {
  margin: 0;
  display: grid;
  place-items: center;
  margin-top: 40px;
}
.cta-btn {
  position: relative;
  background: #1c1b1d;
  padding: 25px 60px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font: 700 25px consolas;
  transform: scale(1);
  overflow: hidden;
}

.cta-btn span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #171618, #e90c3f);
  animation: animate1 3s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.cta-btn span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to bottom, #171618, #e90c3f);
  animation: animate2 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

.cta-btn span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, #171618, #e90c3f);
  animation: animate3 3s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.cta-btn span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to top, #171618, #e90c3f);
  animation: animate4 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.cta-btn:hover {
  transition: all 0.11s ease-out;
  color: #e90c3f;
  transform: scale(0.97);
}

.cta-btn:hover span {
  animation-duration: 1s;
}
.cta-btn:active span {
  animation-play-state: paused;
}
.about-content .cta-container,
.contact-form .cta-container {
  place-items: start;
}

@media screen and (max-width: 1025px) and (min-width: 490px) {
  .container {
    padding: 0 2rem;
  }
  .heading {
    font-size: 2.5em;
  }
  .secondary-heading,
  .description {
    font-size: 1em;
  }
  .cta-btn{font-size: 2.5vw; padding: 3.5vw 5vw;}
}
@media screen and (max-width: 490px) {
  .container {
    padding: 0 30px;
    width: 100%;
  }
  .flex {
    flex-direction: column;
  }
  .flex-basis {
    flex-basis: 100%;
    margin: 20px 0;
  }
  .secondary-heading {
    font-size: 1rem;
    line-height: 30px;
  }
  .heading {
    font-size: 3rem;
  }
  .btn {
    width: 95%;
    font-size: 1rem;
  }
  .cta-btn{
    font-size: 4vw;
    padding: 5vw;
    letter-spacing: 1px;
  }
  .cta-container .cta-btn span:nth-child(odd){
    height: 2px;
  }
  .cta-container .cta-btn span:nth-child(even){
    width: 2px;
  }
}
